// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'normalizecss/normalize.css'

// Style using Bespoke Classes: https://github.com/markdalgleish/bespoke-classes

a
  color: #00b8ff
  text-decoration: none


.bespoke-parent
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow: hidden
  color: #ccc
  font-size: 60px;

.bespoke-scale-parent
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  pointer-events: none
  .bespoke-active
    pointer-events: auto

.bespoke-slide
  width: 1080px
  height: 720px
  position: absolute
  top: 50%
  left: 50%
  margin-left: -(@width / 2)
  margin-top: -(@height / 2)
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  transition: all .0 ease
  transform-origin: 50% 50% -400px

.bespoke-inactive
  opacity: 0
  pointer-events: none

.bespoke-bullet-inactive
  opacity: 0
  pointer-events: none

.bespoke-backdrop
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: -1
  opacity: 0

.bespoke-backdrop-active
  opacity: 1

.bespoke-progress-parent
  position: absolute
  top: 0
  left: 0
  right: 0
  height: .3vw

.bespoke-progress-bar
  position: absolute
  height: 100%
  background: #99d3f0
  transition: width .6s ease

.emphatic
  background: #222

.emphatic-text
  color: white

.home
  font-size: 40px

.page4
  font-size: 30px