doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Cara Presentasi Yang Baik

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section.home
        h1 Cara Presentasi Yang Baik

      section.page2
        h2 Presented By :
        h3 <div class="pp"><img src="images/hafiz.jpg"></div><div class="nama">Hafizham Lubis</div>
        h3 <div class="pp"><img src="images/finsen.jpg"></div><div class="nama">Finsensius Gurning</div>
        h3 <div class="pp"><img src="images/uqbah.jpg"></div><div class="nama">Uqbah Ibnul Haris Nst</div>

      section.page3
        h2 10 Tips Presentasi Yang Baik Dan Efektif
        ul
         li Kecakapan Menguasai Audience
         li Jangan Berbicara Pada Slide
         li Kemampuan Berbicara Dengan Bahasa Tubuh
         li Tunjukkan Antusiasme
         li Jelaskan Poin Penting Yang Ingin Di Sampaikan
         li Buat Angka Menjadi Berarti
         li Latihan Atau Simulasi
         li Kuasai Materi
         li Jiwai Materi
         li Background Presentasi Yang Sederhana

      section(data-bespoke-hash='named-route').page4
        h2 Tips Mengatasi Rasa Gugup
        ul
          li Menguasai sepenuhnya materi yang disampaikan
          li Jangan suka membandingkan
          li Tenang dan tarik nafas dalam
          li Jangan terburu-buru
          li Jangan langsung bertatap mata

      section.page5
        h2 Larangan Bahasa Tubuh Saat Presentasi
        ul
          li Sikap tubuh yang tertutup
          li Gerakan tangan yang tidak perlu
          li Pandangan dan ekspresi wajah yang kosong
          li Pergerajab yang tidak perlu

      section.page6
        h2 Manfaat Dari Presentasi Yang Baik
        ul
          li 1. Ide dan pemikiran anda dimengerti oleh audiens
          li 2. Audiens akan mengingat pesan yang anda sampaikan
          li 3. Anda mampu meyakinkan audiens dan mengajak mereka untuk bertindak
          li 4. Anda mampu menginspirasi orang lain
          li 5. Anda mampu mampu memuaskan audiens, yang rela menyediakan waktu berharga mereka untuk mendengarkan presentasi anda
          li 6. Anda merasa berarti, karena telah memberi manfaat dan menampilkan yang terbaik untuk orang lain.
            

    script(src='build/build.js')