doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Cara Presentasi Yang Baik

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section.home
        h1 Cara Presentasi Yang Baik

      section.page2
        h2 Presented By :
        h3 <div class="pp"><img src="images/hafiz.jpg"></div><div class="nama">Hafizham Lubis</div>
        h3 <div class="pp"><img src="images/finsen.jpg"></div><div class="nama">Finsensius Gurning</div>
        h3 <div class="pp"><img src="images/uqbah.jpg"></div><div class="nama">Uqbah Ibnul Haris Nst</div>

      section.page3
        h2 10 Tips Presentasi Yang Baik Dan Efektif
        ul
         li Kecakapan Menguasai Audience
         li Jangan Berbicara Pada Slide
         li Kemampuan Berbicara Dengan Bahasa Tubuh
         li Tunjukkan Antusiasme
         li Jelaskan Poin Penting Yang Ingin Di Sampaikan
         li Buat Angka Menjadi Berarti
         li Latihan Atau Simulasi
         li Kuasai Materi
         li Jiwai Materi
         li Background Presentasi Yang Sederhana

      section(data-bespoke-hash='named-route').page4
        h2 Tips Mengatasi Rasa Gugup
        ul
          li Menguasai sepenuhnya materi yang disampaikan
          li Jangan suka membandingkan
          li Tenang dan tarik nafas dalam
          li Jangan terburu-buru
          li Jangan langsung bertatap mata

      section.page5
        h2 Larangan Bahasa Tubuh Saat Presentasi
        ul	
          li Sikap tubuh yang “tertutup”
          li Gerakan Tangan yang Tidak Perlu
          li Pandangan dan Ekspresi Wajah yang Kosong
		      li Pergerakan yang tidak perlu
        
      section
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')