doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Cara Presentasi Yang Baik

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section.home
        h1 Cara Presentasi Yang Baik

      section.page2
        h2 Presented By :
        h3 <div class="pp"><img src="images/hafiz.jpg"></div><div class="nama">Hafizham Lubis</div>
        h3 <div class="pp"><img src="images/finsen.jpg"></div><div class="nama">Finsensius Gurning</div>
        h3 <div class="pp"><img src="images/uqbah.jpg"></div><div class="nama">Uqbah Ibnul Haris Nst</div>

      section.page3
        h2 10 Tips Presentasi Yang Baik Dan Efektif
        ul
         li Kecakapan Menguasai Audience
         li Jangan Berbicara Pada Slide
         li Kemampuan Berbicara Dengan Bahasa Tubuh
         li Tunjukkan Antusiasme
         li Jelaskan Poin Penting Yang Ingin Di Sampaikan
         li Buat Angka Menjadi Berarti
         li Latihan Atau Simulasi
         li Kuasai Materi
         li Jiwai Materi
         li Background Presentasi Yang Sederhana

      section(data-bespoke-hash='named-route')
        h2 Touch Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-touch">bespoke-touch</a>

      section.page4
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')